<dt>Start Datum:</dt>
<dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>
<dt>Dauer:</dt>
<dd>{{ auction.auctionDuration }} Tage</dd>
<dt>End Datum:</dt>
<dd>{{ auction.expiryDate | date('D d. M Y H:i e') }}</dd>
<dt><a href="#shippingscosts">Versand:</a></dt>
<dd>Innerhalb Deutschlands kostenlos.</dd>
