<script type="x/template" id="vue-auction-bids">
        {#<p>Id: ${ testId }</p>#}
        {#<p>testBidder: ${ testBidder }</p>#}
        <div class="col-lg-8 offset-lg-3" formGroup="maxBid">
            <input class="form-control form-control-lg text-muted"
                    v-model="maxCustomerBid" number
                    @keyup="isValid"
                    type="number"
                    id="maximumBid"
                    placeholder="Ihr Maximalgebot"
                    aria-describedby="maxBidHelpBlock"
            >
            <p id="maxBidHelpBlock"
                    class="form-text text-muted text-center">Bitte geben Sie mindestens <span :class="'alarm' : !isInputValid">${ minBid + 1 | currency }</span> ein!</p>
            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    :disabled="!isInputValid"
                    @click="addBid"
                    >Gebot abgeben
            </button>
        </div>
</script>
<style>
    .alarm {
        color: #c50000;
    }

</style>