<script type="x/template" id="vue-auction-show-bidderlist">

    <h1>test2</h1>
    {#<p>2: ${ bidderList}</p>#}
    {#<h4>2: ${ bidderList | json_encode }</h4>#}

    {% for bid in bidderList %}
        <h4>Bieter: ${ bid.bidderName }

            <span>Gebot: ${ bid.bidPrice | currency  }</span>

            <span>Gebots Zeit: ${ bid.bidTimeStamp | date('D d. M Y H:i:s e') }</span>
        </h4>
    {% endfor %}

</script>


