<script type="x/template" id="vue-auction-bids">

    {#<h3>${ auction.expiryDate }</h3>#}
    <auction-countdown
            template="#vue-auction-countdown"
            :deadline="deadline"
    >
    </auction-countdown>


    <div class="row container" id="auction-bidform">

        <div class="col-lg-8 offset-lg-3" formGroup="maxBidForm">
            <input class="form-control form-control-lg text-muted"
                    v-model="maxCustomerBid" number
                    min="${ minbid }"
                    type="number"
                    id="maximumBid"
                    placeholder="Ihr Maximalgebot"
                    aria-describedby="maxBidHelpBlock"
            >
            <p id="maxBidHelpBlock"
                    class="form-text text-muted text-center">{{ trans("PluginAuctions::auctions.bidAtLeast") }}<span
                        :class="{alarm: !isInputValid}">${ minbid | currency }</span>{{ trans("PluginAuctions::auctions.bidAtLeastEnd") }}</p>

            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    :disabled="!isInputValid"
                    @click="addBid"
            >{{ trans("PluginAuctions::auctions.makeBindingBid") }}</button>

            <button class="btn btn-primary btn-lg btn-block"
                    v-if="userdata.id == 7076"
                    @click="auctionend"
            >auctionend
            </button>

            {#ToDo: agb abfrage...#}
        </div>
    </div>

</script>
{#<style>#}
    {#.alarm {#}
        {#color: #c50000;#}
    {#}#}

{#</style>#}