<script type="x/template" id="vue-auction-bids">

    <div class="row container" id="auction-bidform">

        <div class="col-lg-8 offset-lg-3" formGroup="maxBidForm">
            <input class="form-control form-control-lg text-muted"
                    v-model="maxCustomerBid" number
                    min="${ minbid }"
                    type="number"
                    id="maximumBid"
                    placeholder="Ihr Maximalgebot"
                    aria-describedby="maxBidHelpBlock"
            >
            <p id="maxBidHelpBlock"
                    class="form-text text-muted text-center">Bitte geben Sie mindestens
                <span :class="{alarm: !isInputValid}">${ minbid | currency }</span>
                                                             ein!</p>

            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    :disabled="!isInputValid"
                    @click="addBid"
            >Gebot verbindlich abgeben
            </button>

            <button class="btn btn-primary btn-lg btn-block"
                    v-if="userdata.id == 7076"
                    @click="auctionend"
            >auctionend
            </button>

            <p>${ item.defaultCategories.plentyId }</p>

        </div>
    </div>

</script>
{#<style>#}
    {#.alarm {#}
        {#color: #c50000;#}
    {#}#}

{#</style>#}