<script type="x/template" id="vue-auction-show-bidderlist">

    {% for bid in bidderList %}
    <h4>Bieter: ${ bid.bidderName }
        <span>Gebot: ${ bid.bidPrice }</span>
        <span>Gebots Zeit: ${ bid.bidTimeStamp | date('D d. M Y H:i:s e') }</span>
    </h4>
    {% endfor %}
</script>


