<script type="x/template" id="vue-auction-show-bidderlist">

    {#<h1>test4</h1>#}
    {#<p>2: ${ bidderList}</p>#}

    {#{% set bids = (bidderList | json_encode) %}#}
    {#<p>3: ${ bidderList }</p>#}



    <div class="tab-pane" id="assessments-details" role="tabpanel">

        <div class="m-y-2">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                <tr>
                    <th class="column p-l-2"><h4>Bieter</h4></th>
                    <th class="column text-right p-r-3"><h4>Gebots-Preis</h4></th>
                    <th class="column text-right p-r-3"><h4>Gebots-Zeitpunkt</h4></th>
                </tr>
                <tr v-for="bid in bidderList">
                    <td class="bid p-l-2">${ bid.bidderName }</td>
                    <td class="bid text-right p-r-3">${ bid.bidPrice | currency }</td>
                    <td class="bid text-right p-r-3">${ bid.bidTimeStamp | date "d.M.YYYY" }</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</script>


<style>
    .bid {
        font-family: 'Abel', sans-serif;
    }
    .column {
        width: 33%;
    }
</style>