<script type="x/template" id="vue-auction-show-bidderlist">
    <a class="no"
            href="javascript:void(0)"
            @click="showBidderList()">

        <i class="fa fa-list-ul p-l-2" aria-hidden="true"></i> alle anzeigen
    </a>
</script>


