<script type="x/template" id="vue-auction-show-bidderlist">

    <div class="row container">

        <div class="p-t-1">
            <h4>
                ${bidders}<span class="small muted"> Bieter, </span>${bidderList.length - 1}<span class="small muted"> Gebot(e)</span>
            </h4>
        </div>
        <p class="muted small p-l-1">Maximalgebote können jederzeit vor Ablauf der Auktion abgegeben und geändert werden!<br>
                                     Maximalgebote des jeweiligen Bieters werden natürlich nicht angezeigt...</p>

        <div class="tab-pane" id="ao-bidderList" role="tabpanel">

            <div class="m-y-2">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                    <tr>
                        <th class="column p-l-1"><h4><span class="p-r-1"><i class="fa fa-user fa-2"
                                            aria-hidden="true"></i></span>Höchstbieter
                            </h4></th>
                        <th class="column text-right p-r-1"><h4><span class="p-r-1"><i class="fa fa-money fa-1"
                                            aria-hidden="true"></i></span>Gebots-Preis </h4></th>
                        <th class="column-right text-right p-r-3"><h4><span class="p-r-1"><i class="fa fa-clock-o"
                                            aria-hidden="true"></i></span>Gebots-Zeitpunkt</h4></th>
                    </tr>
                    <tr v-for="bid in bidderList">
                        <td class="bid p-l-3">${ bid.bidderName }</td>
                        <td class="bid text-right p-r-1">
                            <span class="p-r-1 small text-muted">${ bid.bidStatus }</span>
                            ${ bid.bidPrice | currency }
                        </td>
                        <td class="bid text-right p-r-3">${ bid.bidTimeStamp | date ("ddd DD.MMM.YYYY HH:mm:ss") }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</script>


<style>
    .bid {
        font-family: 'Abel', sans-serif;
    }

    .column-right {
        width: 44%;
    }

    .column {
        width: 28%;
    }
</style>