<script type="x/template" id="vue-auction-bids">
    {% set loggedIn = frontend.Account.getIsAccountLoggedIn %}

    <div class="col-lg-8 offset-lg-3" formGroup="maxBid">
        <input class="form-control form-control-lg text-muted"
                v-model="maxCustomerBid" number
                min="${ minBid }"
                type="number"
                id="maximumBid"
                placeholder="Ihr Maximalgebot"
                aria-describedby="maxBidHelpBlock"
        >
        <p id="maxBidHelpBlock"
                class="form-text text-muted text-center">Bitte geben Sie mindestens <span :class="{alarm: !isInputValid}">${ minBid | currency }</span> ein!</p>

            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    :disabled="!isInputValid"
                    @click="addBid"
            >Gebot abgeben</button>
    </div>

</script>
<style>
    .alarm {
        color: #c50000;
    }

</style>