<script type="x/template" id="vue-auction-show-bidderlist">

    <h1>test3</h1>
    {#<p>2: ${ bidderList}</p>#}
    <p>2: ${ bidderList | json_encode }</p>

    {% set bids = bidderList | json_encode %}

    {% for bid in bids %}
        <h4>Bieter: ${ bid.bidderName }

            <span>Gebot: ${ bid.bidPrice | currency  }</span>

            <span>Gebots Zeit: ${ bid.bidTimeStamp | date('D d. M Y H:i:s e') }</span>
        </h4>
    {% endfor %}

</script>


