<script type="x/template" id="vue-auction-bids">
    {% set loggedIn = frontend.Account.getIsAccountLoggedIn %}

    <div class="col-lg-8 offset-lg-3" formGroup="maxBid">
        <input class="form-control form-control-lg text-muted"
                v-model="maxCustomerBid" number
                @keyup="isValid"
                min="${ minBid }"
                type="number"
                id="maximumBid"
                placeholder="Ihr Maximalgebot"
                aria-describedby="maxBidHelpBlock"
        >
        <p id="maxBidHelpBlock"
                class="form-text text-muted text-center">Bitte geben Sie mindestens
            <span :class="{alarm: !isInputValid}">${ minBid | currency }</span> ein!</p>

        {% if loggedIn %}
            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    :disabled="!isInputValid"
                    @click="addBid"
            >Gebot abgeben
            </button>
        {% else %}
            <div v-if="isInputValid"
                    class="alert alert-danger m-t-1 text-center">
                Bitte einloggen bzw. registrieren!
            </div>
        {% endif %}
    </div>


</script>
<style>
    .alarm {
        color: #c50000;
    }

</style>