<script type="x/template" id="vue-auction-show-bidderlist">


    <h5>1: {{ bidderList | json_encode }}</h5>
    <h6>1: {{ bidderList | json }}</h6>
    <p>2: ${ bidderList | json }</p>
    <h4>2: ${ bidderList | json_encode }</h4>

    {#{% for bid in bidderList %}#}
    {#<h4>Bieter: ${ bid.bidderName }#}
    {#</h4>#}
        {#<p>bid</p>#}
        {#<p>bidderList</p>#}


        {#<span>Gebot: ${ bid.bidPrice }</span>#}

        {#<span>Gebots Zeit: ${ bid.bidTimeStamp | date('D d. M Y H:i:s e') }</span>#}
    {#{% endfor %}#}

</script>


