<script type="x/template" id="vue-auction-show-bidderlist">

    <div class="modal-dialog"><h3>modal-dialog</h3>
        <div class="modal-content"><h4>modal-content</h4>
            <div class="modal-header"><p>modal-header</p>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h3 class="modal-title">
                    modal-title: {{ trans("PluginAuctions::Template.auctionBidderlistTitel") }}</h3>
            </div>
            <div class="modal-body">
                <h1>modal-body</h1>
                {#{% include category_template(shippingCat, lang, services.webstoreConfig.getWebstoreConfig().webstoreId) ignore missing %}#}
            </div>
        </div>
    </div>


</script>

{#<script type="x/template" id="vue-auction-show-bidderlist">#}
    {#<a class="no"#}
            {#href="javascript:void(0)"#}
            {#@click="showBidderList()">#}

        {#<i class="fa fa-list-ul p-l-2" aria-hidden="true"></i> alle anzeigen#}
    {#</a>#}
{#</script>#}

{#<a {% if shippingCat is not empty %}#}
    {#data-toggle="modal"#}
    {#href="#shippingscosts"#}
{#{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">#}

    {#<i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen#}
{#</a>#}

<!-- BidderList MODAL -->
<!-- ./BidderList MODAL -->



