<script type="x/template" id="vue-auction-gtc-check">
    <label class="form-check-label" for="gtc-auction" v-bind:class="{ 'error': this.gtcValidation.gtc.showError }">
        <input class="form-check-input" type="checkbox" value="" id="gtc-auction" v-model="isChecked">
        {% autoescape false %}
            {% set gtcContent %}
                <a href="/agb" target="_blank">
                    <strong>{{ trans("Ceres::Template.generalGtc") }}</strong>
                </a>
            {% endset %}

            {% set cancellationContent %}
                <a href="/cancellation-rights" target="_blank">
                    <strong>{{ trans("Ceres::Template.generalCancellationRight") }}</strong>
                </a>
            {% endset %}

            {% set policyContent %}
                <a href="/privacy-policy" target="_blank">
                    <strong>{{ trans("Ceres::Template.generalPrivacyPolicy") }}</strong>
                </a>
            {% endset %}

            {{ trans("Ceres::Template.generalChooseOur", {"gtc": gtcContent, "cancellation": cancellationContent, "policy": policyContent}) }}
        {% endautoescape %}
    </label>
</script>
