<script type="x/template" id="vue-auction-countdown">
    <div class="row container m-t-0 m-b-1">
        <div class="m-b-1">
            <h4>Restzeit: <span>
                <ul class="vue-countdown">
                    <li>
                        <p class="digit">{{ days }}</p>
                        <p class="text">tage</p>
                    </li>
                    <li>
                        <p class="digit">{{ hours }}</p>
                        <p class="text">stunden</p>
                    </li>
                    <li>
                        <p class="digit">{{ minutes }}</p>
                        <p class="text">min</p>
                    </li>
                    <li>
                        <p class="digit">{{ seconds }}</p>
                        <p class="text">sec</p>
                    </li>
                </ul>
            </span></h4>
        </div>
    </div>
</script>

<style>
    .vue-countdown {
        padding: 0;
        margin: 0;
    }

    .vue-countdown li {
        display: inline-block;
        margin: 0 8px;
        text-align: center;
        position: relative;
    }

    .vue-countdown li p {
        margin: 0;
    }

    .vue-countdown li:after {
        content: ":";
        position: absolute;
        top: 0;
        right: -13px;
        font-size: 32px;
    }

    .vue-countdown li:first-of-type {
        margin-left: 0;
    }

    .vue-countdown li:last-of-type {
        margin-right: 0;
    }

    .vue-countdown li:last-of-type:after {
        content: "";
    }

    .vue-countdown .digit {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .vue-countdown .text {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 10px;
    }
</style>
