{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{% if ( auction ) %}



    {#{% set bidderListLast = auction.bidderList | last %}#}
    {#{% set bidderListLength = auction.bidderList | length %}#}

    <div id="add-auction-vue">

        <auction-parent
                template="#vue-auction-parent"
                :auctionFromServer="{{ auctions.auction.getAuctionForItemId(itemId) | json_encode() }}"
                {#v-resource-push:auction#}
                {#resource="auction"#}
                {#data-accessor="true"#}
        >
        </auction-parent>
    </div>
{% else %}
    <h1>Standardkategorie Fehler:</h1>

    <p>Die Standardkategorie in diesem Artikel ist auf 'Auktionen' gesetzt, aber es ist keine Auktion im Backend
       definiert!!'</p>

{% endif %}

<style>
    .auctionList {
        display: block;
        font-family: 'Abel', sans-serif;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 0;
    }

    .auctionList dt {
        width: 25%;
        float: left;
        font-weight: bold;
    }

    .auctionList dd {
        width: 95%;
    }

    a:focus {
        outline: none;
    }

    .alarm {
        color: #c50000;
    }

</style>

